/out
/.cljs_node_repl
/.cpcache
/logs
.DS_Store
/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/lrs-conformance-test-suite
npm-debug.log
/node_modules
.rebel_readline_history
package.json
package-lock.json
*.log
/out_test
