{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  com.yetanalytics/xapi-schema {:mvn/version "1.0.0-alpha19-SNAPSHOT"
                                :exclusions [org.clojure/clojurescript]}
  io.pedestal/pedestal.service {:mvn/version "0.5.5"}
  org.clojure/clojurescript {:mvn/version "1.10.439"}
  macchiato/core {:mvn/version "0.2.14"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  org.clojure/data.priority-map {:mvn/version "0.0.10"}
  tailrecursion/cljs-priority-map {:mvn/version "1.2.1"
                                   :exclusions [org.clojure/clojure
                                                org.clojure/clojurescript]}
  }
 :aliases
 {:test-cljs
  {:main-opts ["-m" "cljs.main" "-t" "nodejs" "-o" "out/test.js"]}
  :dev
  {:extra-paths ["test" "dev" "dev-resources"]
   :extra-deps
   {;; cider/piggieback {:mvn/version "0.3.8"}
    org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
    io.pedestal/pedestal.jetty {:mvn/version "0.5.5"}
    ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                    :exclusions [org.slf4j/slf4j-api]}
    org.slf4j/jul-to-slf4j {:mvn/version "1.7.25"}
    org.slf4j/jcl-over-slf4j {:mvn/version "1.7.25"}
    org.slf4j/log4j-over-slf4j {:mvn/version "1.7.25"}
    io.pedestal/pedestal.service-tools {:mvn/version "0.5.5"}
    }}}}
