{:paths ["src/main" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.741"}
  org.clojure/core.async {:mvn/version "1.1.587"}
  com.yetanalytics/xapi-schema {:git/url "https://github.com/yetanalytics/xapi-schema.git"
                                :sha "92876f9e7c9d0df69db27c7e268d9517a880591b"
                                :exclusions [org.clojure/clojurescript]}
  cheshire/cheshire {:mvn/version "5.10.0"}
  io.pedestal/pedestal.service {:mvn/version "0.5.7"}
  macchiato/core {:mvn/version "0.2.17"
                  :exclusions [funcool/cuerdas]
                  }
  funcool/cuerdas {:mvn/version "2020.03.26-2"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  org.clojure/data.priority-map {:mvn/version "1.0.0"}
  tailrecursion/cljs-priority-map {:mvn/version "1.2.1"
                                   :exclusions [org.clojure/clojure
                                                org.clojure/clojurescript]}
  hiccup/hiccup {:mvn/version "1.0.5"}
  hiccups/hiccups {:mvn/version "0.3.0"}}
 :aliases
 {:test-cljs
  {:main-opts ["-m" "cljs.main" "-t" "nodejs" "-o" "out/test.js"]}
  :dev
  {:extra-paths ["src/test" "src/dev" "dev-resources"]
   :extra-deps
   {;; cider/piggieback {:mvn/version "0.3.8"}
    org.clojure/test.check {:mvn/version "1.0.0"}
    io.pedestal/pedestal.jetty {:mvn/version "0.5.7"}
    ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                    :exclusions [org.slf4j/slf4j-api]}
    org.slf4j/jul-to-slf4j {:mvn/version "1.7.25"}
    org.slf4j/jcl-over-slf4j {:mvn/version "1.7.25"}
    org.slf4j/log4j-over-slf4j {:mvn/version "1.7.25"}
    io.pedestal/pedestal.service-tools {:mvn/version "0.5.7"}
    com.yetanalytics/datasim {:git/url "https://github.com/yetanalytics/datasim.git"
                              :sha "423bd6c301ce8503f5c18b43df098bbe64f8f1ab"}
    com.yetanalytics/lrs-test-runner
    {:git/url "git@github.com:yetanalytics/lrs-test-runner.git"
     :sha "8bd5be7816288e85f5c07fc11bf8cf53667e72da"}}}
  ;; bench utils for LRS implementations
  :bench
  {:extra-paths ["src/bench"]
   :extra-deps {hato/hato {:mvn/version "0.5.0"}
                org.clojure/tools.cli {:mvn/version "1.0.194"}
                com.yetanalytics/datasim {:git/url "https://github.com/yetanalytics/datasim.git"
                                          :sha "423bd6c301ce8503f5c18b43df098bbe64f8f1ab"}
                clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
                net.mikera/core.matrix {:mvn/version "0.62.0"}
                ;; incanter/incanter-core {:mvn/version "1.9.3"}
                ;; incanter/incanter-charts {:mvn/version "1.9.3"}
                }}}
 :mvn/repos {"jitpack" {:url "https://jitpack.io"}} ;; for proj. pan/dsim
 }
