.json-map {
  display:grid;
}

.json-array {
  display:grid;
}

.json-map-entry {
  display:grid;
  grid-template-columns: 1fr 12fr;
  border-bottom: 1px solid black
}

.json-map-entry-key {
  padding: 1em;
  border-right: 1px solid black;
}

.json-map-entry-val {
  margin-top: auto;
  margin-bottom: auto;
}

/* leaf */
.json-scalar {
  text-overflow: ellipsis;
  display: inline;
  margin-left: 1em
}

/* collapsing */

.collapse-wrapper > .collapsed {
  display: none;
}

.collapse-wrapper > :checked ~ .collapsed {
  display:unset;
}

.collapse-wrapper > label.collapse-label:after {
  content: "+";
  margin-left: 1em;
}

.collapse-wrapper > :checked ~ label.collapse-label:after {
  content: "-";
}
